# Files to ignore when considering what GIT should commit.

# Visual Studio Projects
.vs/
*.sln
*.vcxproj*

# Visual Studio Compilation Folders
Release/
Release_*/
Debug/
Debug_*/

# VPC Cache
_vpc_/
*.vpc_cache

# Generated Protobuff
generated_proto_*/

# Generated VScript Headers
*_nut.h

# Specific Source build products
*.pdb

client.*
server.*

game/tf2ce_*.*

game_shader_generic_example.*
serverplugin_*.*

vbsp.*
vice.*
vrad.*
vvis.*
glview.*
vtf2tga.*
vtfdiff.*
qc_eyes.*
tgadiff.*
motionmapper.*
height2normal.*
captioncompiler.*

vrad_*.*
vvis_*.*

fgdlib.*
mathlib.*
raytrace.*
tier1.*
vgui_controls.*
